header {
	background: #2B2E2E;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
		}
		nav {
			float: right;
			a {
				text-decoration: none;
				color: white;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: #33CD99;
				}
			}
		}
	}
}
body {
	padding-top: 7rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
@import "bootstrap";